.post-item h6 {
    font-size: 11px;
}

.post-item .post-link {
    font-size: 13px;
}

.post-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.like {
    font-size: 12px;
    text-align: right;
}

.like-post {
    font-size: 13px;
    height: 20px;
    width: 20px;
}

.like-container {
    display: flex;
    flex-direction: row-reverse;
}
